@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Light.ttf") format("truetype");
  font-weight: 300; /* Light */
}

@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: "Dubai";
  src: url("./assets/fonts/Dubai-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#paint0_linear_2016_5334 {
  animation: gradientShift 3s infinite alternate;
}

@keyframes gradientShift {
  0% {
    gradienttransform: translate(0, 0);
  }
  50% {
    gradienttransform: translate(50%, 0);
  }
  100% {
    gradienttransform: translate(0, 0);
  }
}
